{{ define "title" }}Bellevue Activities{{ end }}
{{ define "main" }}
  <main class="center stack-xl">
    {{ if .BellevueActivityOverviews }}
      <div
        id="data-tables"
        hx-get="/htmx"
        hx-trigger="refresh-table from:body"
        hx-target="this"
        hx-swap="afterbegin"
      ></div>
      <button
        class="individual"
        hx-get="/activities/new"
        hx-push-url="true"
        hx-target="main"
        hx-swap="innerHTML show:html:top"
      >
        Add a new activity
      </button>
      {{ if .RenderTotalsTable }}
        {{ template "activities--overview-by-month" . }}
      {{ end }}
      {{ range .ActivityMonths }}
        {{ template "activities--by-month" . }}
      {{ end }}
    {{ else }}
      <h2>Welcome To Team Bellevue Activities!</h2>
      <p>
        Here, you can record activities that you need to pay for. At the
        beginning of each month, you will receive an invoice by email.
      </p>
      <button
        hx-get="/activities/new"
        hx-push-url="true"
        hx-target="main"
        hx-swap="innerHTML show:html:top"
      >
        Add a new activity
      </button>
    {{ end }}
  </main>
{{ end }}
