tmp/
pico.pumpkin.css
pico.pumpkin.min.css
data/postgres/
todo.md
cmd/commitanalysis/
cmd/web/handlers_progress.go
temp.md
ui/static/css/experiment.css
.env.sh

node_modules/
data/
snippets.md

ui/static/dist/*
!ui/static/dist/htmx.2.0.7.min.js
!ui/static/dist/favicon.ico

