{{ define "main" }}
  {{ with .ViewModels }}
  {{ if or .UninvoicedActivities .SentInvoices }}
    <main class="center stack-xl">
      <button
        class="individual"
        hx-get="/activities/new"
        hx-push-url="true"
        hx-target="main"
        hx-swap="innerHTML show:html:top"
      >
        Add a new activity
      </button>
      {{ if .UninvoicedActivities }}
        {{ template "invoice" .UninvoicedActivities }}
      {{ end }}
      {{ range .SentInvoices }}
        {{ template "invoice" . }}
      {{ end }}
    </main>
  {{ else }}
    {{ template "welcome-message" $.User }}
  {{ end }}
  {{ end }}
{{ end }}
