{{- define "title" -}}New Bellevue Activity{{ end }}
{{- define "main" -}}
  <main class="center stack-large">
    <p class="margin-top margin-bottom text-center">
      <a href="/activities">Go back to activities overview</a>
    </p>
    <form
      action="/activities"
      method="post"
      class="stack"
      hx-target="main"
      hx-swap="outerHTML show:html:top"
    >
      <h2>
        {{- if .ActivityDay -}}Edit{{ else }}New{{ end }} Bellevue Activity
      </h2>
      {{- with .Form.FieldErrors.negatives -}}
        <label class="error">{{- . -}}</label>
      {{- end -}}
      {{- with .Form.FieldErrors.zeroes -}}
        <label class="error">{{- . -}}</label>
      {{- end -}}
      <label>
        <strong>Date:</strong>
        <input
          name="date"
          type="date"
          {{ if .ActivityDay }}
            value="{{- .ActivityDay.Date | formatDateFormInput -}}"
          {{- else -}}
            value="{{- .Today | formatDateFormInput -}}"
          {{- end }}
          hx-trigger="change"
          hx-get="/activities/edit"
          hx-push-url="true"
          hx-target="closest main"
          hx-swap="outerHTML"
        />
      </label>
      {{- range .ProductFormConfig.Specs -}}
        {{- if .HasCategories -}}
          {{- template "form-field--product-counter" . -}}
        {{- end -}}
        {{- if .IsCustomAmount -}}
          {{- template "form-field--custom-amount" . -}}
        {{- end -}}
      {{- end -}}
      <label>
        <strong>Comment:</strong>
        <textarea name="comment" rows="2" aria-label="comment"></textarea>
      </label>
      <button type="submit" class="stack-exception-large">
        {{- if .Edit -}}Edit{{ else }}Add{{ end }}
      </button>
    </form>
  </main>
{{- end -}}
