{{ define "main" }}
  {{ with .ViewModels }}
  {{ if or .UninvoicedActivities .SentInvoices }}
    <main class="activities-page">
      <section class="activities-page__actions">
        <button
          class="button button--primary activities-page__primary-action"
          hx-get="/activities/new"
          hx-push-url="true"
          hx-target="main"
          hx-swap="innerHTML show:html:top"
        >
          Add a new activity
        </button>
      </section>
      {{ if .UninvoicedActivities }}
        {{ template "invoice" .UninvoicedActivities }}
      {{ end }}
      {{ range .SentInvoices }}
        {{ template "invoice" . }}
      {{ end }}
    </main>
  {{ else }}
    {{ template "welcome-message" $.User }}
  {{ end }}
  {{ end }}
{{ end }}
