{{ define "title" }}Bellevue Team Login{{ end }}
{{ define "main" }}
  <main class="center stack">
    <section class="login">
      <h2>Welcome to Bellevue Team Activities.</h2>
      <p>To use this app, you need to login.</p>
      <p>You can use your DW-Connect account to login.</p>
      <button>Login with DW-Connect</button>
      <p>
        Alternatively, you can create a new account with your email.
        <a
          href="/signup"
          hx-target="closest main"
          hx-swap="beforeend"
          hx-push-url="false"
        >
          Create an account
        </a>
        or
        <a
          href="/login/email"
          hx-target="closest main"
          hx-swap="beforeend"
          hx-push-url="false"
        >
          login with your email and password
        </a>
        .
      </p>
    </section>
  </main>
{{ end }}
