{{ define "title" }}Bellevue Team Login{{ end }}
{{ define "main" }}
  <main class="center stack">
    <section class="login">
      <h3>Welcome to Bellevue Team Activities.</h3>
      <p>To use this app, you need to login.</p>
      <p>You can use your DW-Connect account to login.</p>
      <p>
        <a href="/login/dwbn" hx-boost="false">
          <button>Login with DW-Connect</button>
        </a>
      </p>
      <p>
        Alternatively, you can create a new account with your email.
        <a
          href="/signup"
          hx-target="section.login__email"
          hx-swap="innerHTML show:html:top"
          hx-push-url="false"
        >
          Create an account
        </a>
        or
        <a
          href="/login/email"
          hx-target="section.login__email"
          hx-swap="innerHTML show:html:top"
          hx-push-url="false"
        >
          login with your email and password
        </a>
        .
      </p>
      <section class="login__email">
      </section>
    </section>
  </main>
{{ end }}
