{{ define "title" }}Bellevue Team Settings{{ end }}
{{ define "main" }}
  <main class="with-sidebar">
    <section class="sidebar">
      <ul>
        <li class="active">
          <a>Products</a>
        </li>
        <li>
          <a>Prices</a>
        </li>
        <li>
          <a>Price Categories</a>
        </li>
        <li>
          <a>MWST</a>
        </li>
        <li>
          <a>Financial Accounts</a>
        </li>
        <li>
          <a>Forms</a>
        </li>
      </ul>
    </section>
    <section class="not-sidebar">
      {{ template "settings" . }}
    </section>
  </main>
{{ end }}
