From: {{ .SenderName }} <{{ .SenderEmail }}>
To: {{.User.FirstName}} {{.User.LastName}} <{{.User.Email}}>
Subject: {{.Subject}}
Date: {{.Date}}
MIME-Version: 1.0
Content-Type: multipart/alternative; boundary="BOUNDARY"

--BOUNDARY
Content-Type: text/plain; charset="UTF-8"
Content-Transfer-Encoding: 8bit

Hoi {{.User.FirstName}}

Im letzten Monat hast Du im Bellevue im Wert von {{ .Invoice.TotalPrice | fmtCHF }} CHF konsumiert.

Bitte überweise {{ .Invoice.TotalPrice | fmtCHF }} an das folgende Konto (Verwendungszweck bitte unbedingt auch angeben):

Zahlungszweck: a / b / c

{{ .Recipient.IBAN }}
{{ .Recipient.Name }}
{{ .Recipient.Street }}
{{ .Recipient.PLZOrt }}

Hier ist eine Auflistung Deiner Konsumationen:

{{ range .Activities }}
{{ .Date | fmtDate }}: {{ .TotalPrice | fmtCHF }} CHF
{{ if gt .Breakfasts 0 }}
{{ .Breakfasts }} Zmorge à 8.00 CHF
{{- end }}
{{- if gt .Lunches 0 }}
{{ .Lunches }} Zmittag à 11.00 CHF
{{- end }}
{{- if gt .Dinners 0 }}
{{ .Lunches }} Znacht à 11.00 CHF
{{- end }}
{{- if gt .Coffees 0 }}
{{ .Coffees }} Kaffi à 1.00 CHF
{{- end }}
{{- if gt .Saunas 0 }}
{{ .Saunas }} Sauna à 7.50 CHF
{{- end }}
{{- if gt .Lectures 0 }}
{{ .Lectures }} Lectures à 12.00 CHF
{{- end }}
{{- if gt .SnacksCHF 0 }}
{{ .SnacksCHF | fmtCHF }} Kiosk
{{- end }}
{{if ne .Comment "" }}
{{.Comment}}

{{ end }}
{{- end }}

--BOUNDARY
Content-Type: text/html; charset="UTF-8"
Content-Transfer-Encoding: 8bit

<!DOCTYPE html>
<html>
<head>
  <title>{{.Subject}}</title>
</head>
<body>
<p>
  Hoi {{.User.FirstName}}
</p>
<p>
  Im letzten Monat hast Du im Bellevue im Wert von {{.Invoice.TotalPrice | fmtCHF}} CHF konsumiert.
</p>
<p>
  Bitte überweise {{.Invoice.TotalPrice | fmtCHF}} an das folgende Konto (Verwendungszweck bitte angeben):
<p>
<p>
   <strong>Verwendungszweck: </strong>a / b / c 
</p>
<p>
  {{ .Recipient.IBAN }}<br>
  {{ .Recipient.Name }}<br>
  {{ .Recipient.Street }}<br>
  {{ .Recipient.PLZOrt }}
</p>
<p>
  Hier ist eine Auflistung Deiner Konsumationen:
</p>
<p>
{{ range .Activities }}
<strong>{{ .Date | fmtDate }}: {{ .TotalPrice | fmtCHF }} CHF</strong><br>
{{- if gt .Breakfasts 0 }}
{{ .Breakfasts }} Zmorge à 8.00 CHF<br>
{{- end }}
{{- if gt .Lunches 0 }}
{{ .Lunches }} Zmittag à 11.00 CHF<br>
{{- end }}
{{- if gt .Dinners 0 }}
{{ .Lunches }} Znacht à 11.00 CHF<br>
{{- end }}
{{- if gt .Coffees 0 }}
{{ .Coffees }} Kaffi à 1.00 CHF<br>
{{- end }}
{{- if gt .Saunas 0 }}
{{ .Saunas }} Sauna à 7.50 CHF<br>
{{- end }}
{{- if gt .Lectures 0 }}
{{ .Lectures }} Lectures à 12.00 CHF<br>
{{- end }}
{{- if gt .SnacksCHF 0 }}
{{ .SnacksCHF | fmtCHF }} CHF Kiosk (Getränke, Chips, etc)<br>
{{- end }}
{{- if ne .Comment "" }}
{{.Comment}}
{{ end }}
{{- end }}
</p>
<p>
Lieben Gruss<br>
David
</p>
</body>
</html>

--BOUNDARY--
