From: {{ .SenderName }} <{{ .SenderEmail }}>
To: {{.Name}} <{{.To}}>
Subject: {{.Subject}}
Date: {{.Date}}
MIME-Version: 1.0
Content-Type: multipart/alternative; boundary="BOUNDARY"

--BOUNDARY
Content-Type: text/plain; charset="UTF-8"
Content-Transfer-Encoding: 8bit

Hoi {{.Name}}

Im letzten Monat hast Du im Bellevue im Wert von {{ .Invoice.TotalPrice | fmtCHF }} CHF konsumiert.

Bitte überweise {{ .Invoice.TotalPrice | fmtCHF }} an das folgende Konto (Verwendungszweck bitte unbedingt auch angeben):

Zahlungszweck: a / b / c

{{ .Recipient.IBAN }}
{{ .Recipient.Name }}
{{ .Recipient.Street }}
{{ .Recipient.PLZOrt }}

Hier ist eine Auflistung Deiner Konsumationen:


--BOUNDARY
Content-Type: text/html; charset="UTF-8"
Content-Transfer-Encoding: 8bit

<!DOCTYPE html>
<html>
<head>
  <title>{{.Subject}}</title>
</head>
<body>
<p>
  Hoi {{.Name}}
</p>
<p>
  Im letzten Monat hast Du im Bellevue im Wert von {{.Invoice.TotalPrice | fmtCHF}} CHF konsumiert.
</p>
<p>
  Bitte überweise {{.Invoice.TotalPrice | fmtCHF}} an das folgende Konto (Verwendungszweck bitte angeben):
<p>
<p>
   <strong>Verwendungszweck: </strong>a / b / c 
</p>
<p>
  {{ .Recipient.IBAN }}<br>
  {{ .Recipient.Name }}<br>
  {{ .Recipient.Street }}<br>
  {{ .Recipient.PLZOrt }}
</p>
<p>
  Hier ist eine Auflistung Deiner Konsumationen:
</p>
</body>
</html>

--BOUNDARY--
