{{ define "activities--by-month" }}
  <h3 class="text-center stack-exception-xl">{{ .Month | fmtMonth }}</h3>
  <div class="table-container stack-exception">
    <table>
      <tr>
        <th>Date & Price</th>
        <th>Activities</th>
      </tr>
      {{ range .Days }}
        <tr>
          <td class="date-price no-break stack-exception-xs stack-xs">
            <span class="no-break bold block">
              {{ .Date | fmtDateNiceRead }}
            </span>
            <span class="block">{{ .TotalPrice | fmtCHF }} CHF</span>
          </td>
          <td class="stack-exception-xs stack-xs min-width-max-content">
            {{ range .Items }}
              <span class="bellevue-activity no-wrap">
                {{ .Quantity }}
                {{ .Name }}
                for {{ .UnitPrice | fmtCHF }} CHF
              </span>
            {{ end }}
            <div class="buttons stack-exception-small">
              <button
                hx-get="/activities/edit?date={{ .Date | formatDateFormInput }}"
                hx-target="main"
                hx-push-url="true"
                type="button"
                class="edit"
                hx-swap="innerHTML show:html:top"
              >
                edit
              </button>
              <span></span>
              <button
                hx-delete="/activities?date={{ .Date | formatDateFormInput }}"
                hx-target="closest tr"
                hx-confirm="are you sure that you want to delete this activity?"
                hx-swap="delete swap:400ms"
                type="button"
                class="delete"
              >
                delete
              </button>
            </div>
          </td>
        </tr>
      {{ end }}
      <tr>
        <td></td>
        <td class="stack-xs">
          <span class="bold block">Total Price {{ .Month | fmtMonth }}:</span>
          <span class="bold block">{{ .TotalPrice | fmtCHF }} CHF</span>
        </td>
      </tr>
    </table>
  </div>
{{ end }}
