{{ define "bellevue-activity" }}
  <label for="{{ .ID }}" class="fixed-price-activity">
    <strong>
      {{ .Label }}
    </strong>
  </label>
  <fieldset class="fixed-price-activity">
    <fieldset class="number-picker">
      <button type="button" class="minus">−</button>
      <input
        name="bellevue-activity-{{ .ID }}"
        id="{{ .ID }}"
        type="number"
        value="{{ .Count }}"
        min="0"
      />
      <button type="button" class="plus">+</button>
    </fieldset>

  {{ if .PriceCategories }}
    <fieldset class="price-categories" data-js-visible-on-input>
      <ul>
      {{ range .PriceCategories }}
        <li>
          <label>
          <input value="{{ .Name }}" type="radio" name="price-category__{{ $.ID }}" {{ if .Checked }}checked{{ end }} />
            <div class="price-category__label">
            <span class="price-category__label-name">{{ .Label }}</span>
            <span class="price-category__label-price">{{ .Price | fmtCHF }} CHF</span>
            </div>
          </label>
        </li>
      {{ end }}
      </ul>
    </fieldset>
  {{ end }}
  </fieldset>
{{ end }}
