{{ define "overflow-menu" }}
  <details data-overflow-menu>
    <summary
      type="button"
      aria-haspopup="menu"
      aria-controls="contact-menu-contact.id"
    >
      <!-- elipsis (3 horizontal dots) -->
      <svg
        class="elipsis"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <circle cx="6" cy="12" r="2"></circle>
        <circle cx="12" cy="12" r="2"></circle>
        <circle cx="18" cy="12" r="2"></circle>
      </svg>
    </summary>
    <ul role="menu" hidden id="contact-menu-contact.id">
      <li>
        <a role="menuitem" href="/invoices/id/print" hx-target="body">Print</a>
      </li>
      {{ if eq .State "open" }}
        <li>
          <a role="menuitem" href="/invoices/id?set-status=paid">Set Paid</a>
        </li>
      {{ else }}
        <li>
          <a role="menuitem" href="/invoices/id?set-status=unpaid">
            Set Unpaid
          </a>
        </li>
      {{ end }}
    </ul>
  </details>
{{ end }}
