/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* MAIN.forms  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

form {
	border: none;
	border-radius: 0.4em;
	background-color: var(--shade-200);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	margin-top: 1rem;
}

form > h2 {
	margin-top: 0em;
}

form > fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

form * {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
}

label {
	font-weight: bold;
	margin-top: 1em;
	padding-top: 1em;
	margin-bottom: 1em;
}

label:not(:first-of-type) {
  border-top: 1px solid var(--form-number-picker);
}

input:not([type="radio"], [type="checkbox"]),
textarea,
select {
	box-sizing: border-box;
	font-size: 1rem;
	font-family: inherit;
	color: inherit;
	border: solid 1px var(--shade-500);
	border-radius: 0.3rem;
	padding: 0.5rem;
	width: 100%;
	background-color: var(--form-input);
	transition:
		border 0.2s ease,
		box-shadow 0.2s ease;
}

textarea {
	resize: vertical;
}

input:not([type="radio"], [type="checkbox"]):focus,
textarea:focus,
select:focus {
	outline: none;
	border: 2px solid var(--primary);
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
	border: 2px solid var(--primary);
}

small.failed-validation {
	color: var(--primary-600);
}

input[readonly],
textarea[readonly] {
	user-select: none;
	-webkit-user-select: none;
	/* For Safari */
	-moz-user-select: none;
	/* For Firefox */
	-ms-user-select: none;
	/* For IE/Edge */
}

form button {
	font-size: 1.125em;
	font-weight: bold;
	background-color: var(--primary);
	box-sizing: border-box;
	color: var(--button-text);
	padding: 0.8rem;
	width: 100%;
	border-radius: 0.3rem;
	border: none;
}

form button:hover,
form button:focus {
	cursor: pointer;
	background-color: var(--primary-600);
	border: none;
}

/* Loading Spinner */
/* Style the button when aria-busy="true" */
button#login-button[aria-busy="true"] {
	position: relative;
	pointer-events: none;
	opacity: 0.7;
}

/* Add spinner when aria-busy is true */
button#login-button[aria-busy="true"]::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	border: 2px solid #fff;
	border-top: 2px solid transparent;
	border-radius: 50%;
	animation: spin 0.6s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
