/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* MAIN.forms  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

form {
	border: none;
	border-radius: 0.4em;
	background-color: var(--surface);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	margin-top: 1rem;
}

form > h2 {
	margin-top: 0em;
}

form > fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

form * {
	box-sizing: border-box;
	display: block;
	/* margin-top: 1.2em; */
	/* margin-bottom: 1.2em; */
	overflow: hidden;
}

input:not([type="radio"], [type="checkbox"]),
textarea,
select {
	box-sizing: border-box;
	font-size: 1rem;
	font-family: inherit;
	color: inherit;
	/* border: none; */
	/* border-bottom: solid 1px var(--rose); */
	/* border-image: linear-gradient(to right, var(--pine), var(--accent)) 1; */
	border: solid 1px var(--highlight-med);
	border-radius: 0.2rem;
	padding: 0.4rem;
	width: 100%;
	background-color: var(--overlay);
	transition:
		border 0.2s ease,
		box-shadow 0.2s ease;
}

textarea {
	resize: vertical;
}

input:not([type="radio"], [type="checkbox"]):focus,
textarea:focus,
select:focus {
	outline: none;
	border: 2px solid var(--rose);
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
	border: 2px solid var(--love);
}

small.failed-validation {
	color: var(--love);
}

input[readonly],
textarea[readonly] {
	user-select: none;
	-webkit-user-select: none;
	/* For Safari */
	-moz-user-select: none;
	/* For Firefox */
	-ms-user-select: none;
	/* For IE/Edge */
}

form button {
	font-size: 1em;
	font-weight: bold;
	background-color: var(--rose);
	box-sizing: border-box;
	color: var(--button-text-color);
	padding: 0.8rem;
	width: 100%;
	border-radius: 0.2rem;
	border: none;
}

/* form button:hover, */
/* form button:focus { */
/* 	cursor: pointer; */
/* 	background-color: var(--love); */
/* 	border: none; */
/* } */

/* Loading Spinner */
/* Style the button when aria-busy="true" */
button#login-button[aria-busy="true"] {
	position: relative;
	pointer-events: none;
	opacity: 0.7;
}

/* Add spinner when aria-busy is true */
button#login-button[aria-busy="true"]::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	border: 2px solid #fff;
	border-top: 2px solid transparent;
	border-radius: 50%;
	animation: spin 0.6s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

table button {
	all: unset;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	background-color: inherit;
	padding: 0.1rem 0.8rem;
	/* border-radius: 0.5em; */
	/* border: 1px solid var(--text); */
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

form button.edit {
	color: var(--iris);
}

button.edit:hover {
	color: var(--text);
	transition: color 0.2s ease-in-out;
}

button.delete {
	color: var(--muted);
}

button.delete:hover {
	color: var(--love);
	transition: color 0.2s ease-in-out;
}
