/* New Bellevue Acitvity */
/* reset stack */
form label fieldset > * + * {
	--space: 0;
}

fieldset {
	border: none;
}

/* ---------------------------------------------------- */
/* --- number picker ---------------------------------- */

fieldset.number-picker {
	display: flex;
	max-width: 324px;
	border-radius: 0.5rem;
	overflow: hidden;
}

.number-picker input {
	width: 4rem;
	text-align: center;
	border-radius: 0;
	border: 1px solid var(--form-number-picker);
	background-color: var(--form-input);
}

fieldset.number-picker button {
	width: 3rem;
	background-color: var(--form-input);
	cursor: pointer;
	border: 1px solid var(--form-number-picker);
}

fieldset.number-picker:active {
	border: 1px solid var(--primary);
}

.number-picker button {
	color: var(--text);
	touch-action: manipulation;
}

/* Rounded left corners */
.number-picker button.minus {
	border-radius: 0.5rem 0 0 0.5rem;
}

/* Rounded right corners */
.number-picker button.plus {
	border-radius: 0 0.5rem 0.5rem 0;
}

/* remove browser input up arrow and down arrow */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* ---------------------------------------------------- */
/* --- price category selector ------------------------ */

fieldset.fixed-price-activity {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 0;
}

fieldset.fixed-price-activity * + * {
	margin-block-start: 0;
}

fieldset.fixed-price-activity > * {
	height: max-content;
	margin-block-start: 0;
}

fieldset.price-categories {
	display: inline-block;
	display: none;
	width: max-content;
	padding: 0;
}

fieldset.price-categories > ul {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0;
}

fieldset.price-categories > ul * {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: 0;
	margin-block-start: 0;
}

fieldset.price-categories input[type="radio"] {
	appearance: none;
}

fieldset.price-categories .price-category__label {
	background-color: var(--form-input);
	padding: 0.5em;
	border: 1px solid var(--shade-500);
	border-radius: 0.5em;
}

.price-category__label:hover {
	cursor: pointer;
}

.price-category__label-name {
	font-size: small;
	font-weight: 200;
}

input[type="radio"]:checked + .price-category__label {
	border: 1px solid var(--primary);
}
