/* ----------------------------------------------------------------------- */
header {
	text-align: center;
	margin: 1.5rem;
}

header hgroup > h1 > a {
	text-decoration: none;
}

header hgroup > h1 > a:hover {
	text-decoration: underline;
	text-decoration-thickness: 5%;
}

header > hgroup > div.nav {
	display: flex;
	justify-content: center;
	gap: 0.6rem;
}

span#themeToggle {
	background-color: none;
	border: none;
	text-decoration: underline;
}

span#themeToggle:hover {
	cursor: pointer;
}

header nav a.active {
	text-decoration: none;
	font-weight: 600;
}
