html {
	background-color: var(--page-background);
	transition:
		background-color 0.5s ease,
		color 0.5s ease;
}

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	color: var(--text);
	line-height: 1.5;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	color: var(--primary);
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
}

*:focus-visible {
	outline: 2px solid var(--primary);
	outline-offset: 3px;
	border-radius: 4px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* MAIN */

.center {
	max-width: 82ch;
	margin: 0 auto;
}

.block {
	display: block;
}

.margin-top {
	margin-top: 1.5rem;
}

.margin-bottom {
	margin-top: 1.5rem;
}

.bold {
	font-weight: bold;
}

.rose {
	color: var(--rose);
}

.pine {
	color: var(--pine);
}

.error {
	color: var(--love);
}

.min-width-max-content {
	min-width: 202px;
}

.text-center {
	text-align: center;
}

.stack * + * {
	margin-block-start: var(--space, 1.5rem);
}

.stack-xs > * + * {
	margin-block-start: var(--space, 0.25rem);
}

.stack-small > * + * {
	margin-block-start: var(--space, 0.5rem);
}

.stack-large > * + * {
	margin-block-start: var(--space, 3rem);
}

.stack-xl > * + * {
	margin-block-start: var(--space, 4.5rem);
}

.stack-exception-xs {
	--space: 0.25rem;
}

.stack-exception-small {
	--space: 0.5rem;
}

.stack-exception-medium {
	--space: 1rem;
}

.stack-exception {
	--space: 1.5rem;
}

.stack-exception-large {
	--space: 3rem;
}

.stack-exception-xl {
	--space: 4.5rem;
}

main ul > li + li {
	/* margin-block-start: 0.5rem; */
	--space: 0.75rem;
}

div.left {
}

main {
	padding: 0.5em;
	overflow-x: hidden;
}

div.right {
}

@media (max-width: 60ch) {
	.center {
		grid-template-columns: 1fr;
	}
}

.text-center {
	text-align: center;
}

h2 {
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: var(--rose);
}

button.individual {
	all: unset;
	background-color: var(--primary);
	color: white;
	padding: 0.4em 0.8em;
	border-radius: 0.4em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 1.5em;
	font-weight: bold;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* HTMX Animations */
.fade-in.htmx-added {
	opacity: 0;
}

.fade-in {
	opacity: 1;
	transition: opacity 1s ease-out;
}

.fade-out.htmx-swapping {
	opacity: 0;
	transition: opacity 400ms ease-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* FOOTER */

footer {
	margin-top: 4em;
	text-align: center;
}
