/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* MAIN.BellevueActivities - - - - - - - - - - - - - - - - - - - - - - - - */

span.bellevue-activity {
	display: block;
}

div.table-container {
	/* overflow-x: scroll; */
	max-width: 100dvw;
	-webkit-overflow-scrolling: touch;
	/* Smooth scrolling on iOS */
}

th,
td {
	max-width: max-content;
	text-align: left;
}

td.date-price {
	width: 21ch;
}

td small.comment {
	max-width: 21ch;
	white-space: normal;
	overflow-wrap: anywhere;
	min-width: 0;
}

table {
	/* optional: ensures scrolling if content is large */
	width: 100%;
	border-collapse: collapse;
	border: none;
	border-radius: 1em;
	border-bottom: 1px solid var(--shade-200);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

@media (max-width: 640px) {
	td.date-price {
		width: 15ch;
	}
}

th,
td {
	padding: 0.8em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 3px solid var(--shade-50);
}

th {
	font-weight: bold;
	background-color: var(--shade-350);
}

tr {
	background-color: var(--shade-200);
}

/* tr:nth-child(even) { */
/* 	background-color: var(--overlay); */
/* } */

/* tr:hover:not(:has(th)) { */
/*     background-color: var(--highlight-med); */
/* } */

.no-break {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
