/* rose pine palette: https://rosepinetheme.com/palette/ */

/* light: Rose Pine Dawn */
:root {
	--text: #2a2d2a;
	--muted: #9893a5;
	--subtle: #797593;
	--base: #fafafa;
	--base-main: #191724;
	--surface: #fffaf3;
	--overlay: #f2e9e1;
	--overlay-main: #26233a;
	--highlight-low: #f4ede8;
	--highlight-med: #dfdad9;
	--highlight-high: #cecacd;
	--rose: #d7827e;
	--iris: #907aa9;
	--pine: #286983;
	--love: #b4637a;
	--foam: #9ccfd8;
	--gold: #f6c177;
	--button-text-color: #f2e9e1;
	--diamond-way-red: #eb4256;

	--primary-50: #fdecee;
	--primary-100: #fbd9dd;
	--primary-200: #f7b3bb;
	--primary-300: #f38e9a;
	--primary-400: #ef6878;
	--primary: #eb4256;
	--primary-500: #eb4256;
	--primary-600: #bc3545;
	--primary-700: #8d2834;
	--primary-800: #5e1a22;
	--primary-900: #2f0d11;

	--shade-0: #ffffff;
	--shade-50: #edeef0;
	--shade-100: #dbdee1;
	--shade-150: #c8cdd1;
	--shade-200: #b6bcc2;
	--shade-250: #a4acb3;
	--shade-300: #929ba4;
	--shade-350: #808a95;
	--shade-400: #6d7985;
	--shade-450: #5b6976;
	--shade-500: #495867;
	--shade-550: #424f5d;
	--shade-600: #3a4652;
	--shade-650: #333e48;
	--shade-700: #2c353e;
	--shade-750: #252c34;
	--shade-800: #1d2329;
	--shade-850: #161a1f;
	--shade-900: #0f1215;
	--shade-950: #07090a;
}

/* dark: Rose Pine Moon */
[data-theme="dark"] {
	--text: #e0def4;
	--muted: #6e6a86;
	--subtle: #908caa;
	--base: #232136;
	--base-main: #191724;
	--surface: #2a273f;
	--overlay: #393552;
	--overlay-main: #26233a;
	--highlight-low: #2a283e;
	--highlight-med: #44415a;
	--highlight-high: #56526e;
	--rose: #ea9a97;
	--iris: #c4a7e7;
	--pine: #3e8fb0;
	--love: #eb6f92;
	--foam: #9ccfd8;
	--gold: #f6c177;


	--shade-0: #07090a;
	--shade-50: #1d2329;
	--shade-100: #252c34;
	--shade-150: #2c353e;
}
