/* https://maketintsandshades.com/#eb4256,EBF1EB,D8D297,4B4856 */

:root {
	--muted: #9893a5;
	--subtle: #797593;
	--base: #fafafa;
	--base-main: #191724;
	--surface: #fffaf3;
	--overlay: #f2e9e1;
	--overlay-main: #26233a;
	--highlight-low: #f4ede8;
	--highlight-med: #dfdad9;
	--highlight-high: #cecacd;
	--rose: #d7827e;
	--iris: #907aa9;
	--pine: #286983;
	--love: #b4637a;
	--foam: #9ccfd8;
	--gold: #f6c177;
	--button-text-color: #f2e9e1;
	--diamond-way-red: #eb4256;

	--primary-50: #fdecee;
	--primary-100: #fbd9dd;
	--primary-200: #f7b3bb;
	--primary-300: #f38e9a;
	--primary-400: #ef6878;
	--primary: #eb4256;
	--primary-500: #eb4256;
	--primary-600: #bc3545;
	--primary-700: #8d2834;
	--primary-800: #5e1a22;
	--primary-900: #2f0d11;

	--text: #171817;
	--page-background: #fdfefd;
	--table-header: #ebf1eb;
	--table-border: #a5a9a5;
}

[data-theme="dark"] {
	--muted: #6e6a86;
	--subtle: #908caa;
	--base: #232136;
	--base-main: #191724;
	--surface: #2a273f;
	--overlay: #393552;
	--overlay-main: #26233a;
	--highlight-low: #2a283e;
	--highlight-med: #44415a;
	--highlight-high: #56526e;
	--rose: #ea9a97;
	--iris: #c4a7e7;
	--pine: #3e8fb0;
	--love: #eb6f92;
	--foam: #9ccfd8;
	--gold: #f6c177;

	--text: #fdfefd;
	--page-background: #171817;
	--table-header: #2f302f;
	--table-border: #464846;
}
